@charset "UTF-8";


body{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Arial;
    font-size: 13px;
}

.body{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url("../../images/member/yellow2.jpg");
    background-size: cover;    
    -webkit-filter: blur(5px);
    z-index: 0;
}

.grad{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
    z-index: 1;
    opacity: 0.7;
}

.header{
   position: absolute;
   top: calc(50% - 35px);
   left: calc(50% - 255px);
  
}

.header div{
   float: left;
   color: orange;
   font-family: 'Exo', sans-serif;
   font-size: 35px;
   font-weight: 200;
   position: relative;
   left: -300px;
}

.header div span{
   color: orange !important;
   font-weight: bold;
}

.login{
   position: absolute;
   top: calc(50% - 200px);
   left: calc(50% - 50px);
   height: 450px;
   width: 350px;
   padding: 10px;
   z-index: 2;
}

.login input[type=text]{
   width: 250px;
   height: 30px;
   background: rgba(255, 255, 255, 0.2);
   border: 1px solid orange;    
   border-radius: 2px;
   color: white;
   font-family: 'Exo', sans-serif;
   font-size: 16px;
   font-weight: 400;
   padding: 4px;
    margin-left: 25px;
}
.login input[type=id]{
   width: 250px;
   height: 30px;
   background: rgba(255, 255, 255, 0.2);
   border: 1px solid orange;    
   border-radius: 2px;
   color: white;
   font-family: 'Exo', sans-serif;
   font-size: 16px;
   font-weight: 400;
   padding: 4px;
    margin-left: 12px;
    margin-top: 10px;
}
.login input[type=password]{
   width: 250px;
   height: 30px;
   background: rgba(255, 255, 255, 0.2);
   border: 1px solid orange;    
   border-radius: 2px;
   color: white;
   font-family: 'Exo', sans-serif;
   font-size: 16px;
   font-weight: 400;
   padding: 4px;
    margin-left: 0px;
    margin-top: 10px;
}
#passwordcon{
   width: 250px;
   height: 30px;
   background: rgba(255, 255, 255, 0.2);
   border: 1px solid orange;    
   border-radius: 2px;
   color: white;
   font-family: 'Exo', sans-serif;
   font-size: 16px;
   font-weight: 400;
   padding: 4px;
   margin-left: -2px;
   margin-top: 10px;
   position:relative;
   right:28px;
}
.login input[type=email]{
   width: 250px;
   height: 30px;
   background: rgba(255, 255, 255, 0.2);
   border: 1px solid orange;    
   border-radius: 2px;
   color: white;
   font-family: 'Exo', sans-serif;
   font-size: 16px;
   font-weight: 400;
   padding: 4px;
    margin-top: 10px;
    margin-left:12px;
}
.login input[type=button]{
   width: 260px;
   height: 35px;
   background: white;
   border: 1px solid orange;
   cursor: pointer;
   border-radius: 2px;
   color: #ff9f04;
   font-family: 'Exo', sans-serif;
   font-size: 16px; 
   font-weight: 400;
   padding: 6px;
   margin-top: 10px;
}

.login input[type=button]:hover{
   opacity: 0.8;
}

.login input[type=button]:active{
   opacity: 0.6;
}

.login input[type=text]:focus{
   outline: none;
}

.login input[type=email]:focus{
   outline: none;
   border: 1px solid re;
}

.login input[type=button]:focus{
   outline: none;
}
.login a {
    text-decoration: none;  
    color: white;  
    text-align: center;
}

.login div {
    text-align: center;
    margin-left: 55px;
    float: left;
}
#pass {
    margin-left: 120px;
    font-size: 25px;
    font-weight: bold;
    color: orange;
}
#text {
    font-size: 15px;
    color: orange;
    margin-left: 50px;
}
.login input {
    margin-left: 15px;
}
::-webkit-input-placeholder{
   color: white;
}
::-moz-input-placeholder{
   color: white;
}
.check {
    background: rgba(255, 255, 255, 0.4);
    border:none;    
    color: orange;
    font-weight: bold;   
    position: relative;
    top: -30px; left: 320px;
}
.sign {
    background: rgba(255, 255, 255, 0.4);
    border:none;
    color: orange;
    font-weight: bold;
    display: inline-block;   
    position: relative;
    width: 50px;
    height: 20px;
    left: 120px;
}
.idbox{
    margin-left:0px;
}
.texta{
    text-align:right;
}
.n{
    position: relative;
    left:-37px;
}
.i{
    position: relative;
    left:-37px;
}
.p{
    left:-37px;
    position: relative;
}
.con{
    position: relative;
    right:38px;
}
.e{
    position: relative;
    right:38px;
} 