<div class="footer">
    <div class="phone">
        <div class="center">                
            제주관광정보센터<br> 064) 740-6000               
        </div>
    </div>
    
    <div class="icon_f">  
        <div class="info1">   
        <a href="https://www.visitjeju.net/kr/tourInfo/able?tap=one&menuId=DOM_000001703002012001#">
            <img src="../../resources/images/icon1.png"><p>장애인 관광정보 </p>           
        </a>
        </div>
        <div class="info2">
            <a href="https://www.visitjeju.net/kr/bbs/list?bbsid=tripperCenter-book&menuId=DOM_000001724002000000#">
                <img src="../../resources/images/book.png"><p>제주 안내책자</p>
            </a>
        </div>
        <div class="info3">
            <a href="https://www.visitjeju.net/kr/tourInfo/guide?tap=two&menuId=DOM_000002000000000051#">
                <img src="../../resources/images/map.png"><p>제주 관광지도</p>
            </a>
        </div>
    </div>
</div>


 <!-- 누르면 top으로 돌아가게 -->
<div id="position1"><a href ="#headers"><i class="fas fa-chevron-circle-up"></i>   </a></div>
 <!--누르면 맨아래로 돌아가게  -->
<div id="position2"><a href ="#footer"><i class="fas fa-chevron-circle-down"></i>   </a></div>