<div class="header">
    <div class="top">
        <div class="login">
                <a href="/jeju/view/member/loginform.do">로그인</a>
        </div>
    </div>
    <div class="title">
    제주도 어디까지 가봤니?
    </div>
    <div class="search">
            <ul class="menu">
                <li><a href="/jeju/view/member/main.jsp" class="is-current" >Home</a></li>
                <li><a href="tourist-main.html" >관광지</a></li>
                <li><a href="food_main.html" >맛집</a></li>
                <li><a href="accomo_main.html" >숙소</a></li>
                <li><a href="mytrip_listAll.html" >나의여행</a></li>
                <li><a href="main_mypage.html" >마이페이지</a></li>
                <li><a href="main_manage.html" >관리페이지</a></li>
                <div class="nav-underline"></div>
            </ul>
        </div>
</div>