@charset "UTF-8";


.info_body{
      margin-top:40px;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 42%;
      grid-row-gap:20px;
    }
    .info_body >div:nth-child(odd){
      width:1305px;
    }
    .head_pic_info{
      height:400px;
      width:1370px;
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }
    .head_pic_info > div{
      
      width:100%;
     
    }
    .head_pic{
        display: grid;
        grid-template-rows: 10% 80% 10%;
        background:#f3f3f3;
    }
    .head_pic>div{
        width:100%;
       
    
    }
    .head_pic> .box1{
      
        font-size:30px;
        border-bottom:1px solid black;
    }
    #box1_myPC{
        display: inline-block;
        box-sizing:border-box;
        height:37px;
        width:100px;
        text-align:center;
       line-height:40px;
        border: 1px solid orange;
        box-shadow: 3px 3px  gray;
       
        left:335px;
        top:-6px;
        font-size:20px;

    }


    #box1_myPC:hover{
        background-color:orange;
        color:white;
    }
    .box1 input{
   display:none;
    }
    .head_pic> .box2{
        background-image: url("pic/accomodation/oceansweet.gif");
	    background-size: contain !important;
	    background-repeat: no-repeat !important;
	    background-position-x: center !important;
        border-bottom: 1px solid black;
    }
    .head_pic>.box3 {
        padding-top:2px;
        font-size:27px;
    }
    .head_Del{
        
        border:1px solid black;
    	position:absolute;

        display: inline-block;
        box-sizing:border-box;
        height:37px;
        width:100px;
        text-align:center;
       line-height:40px;
        border: 1px solid orange;
        box-shadow: 3px 3px  gray;
      left:539px !important; 
      top:-1px;
        font-size:20px;

    }
    .head_Del> a{
    text-decoration:none;
    color:black;
    }
    .head_Del:hover{
        background-color:orange;
        color:white;
    }
    .head_info{
        display:grid;
        grid-template-rows: 18% 16% 16% 16% 16% 16% 16%;
        background:#f3f3f3;
    }
    .head_info > div{
        width:100%;
        
    }
    .head_info > .box1{
        font-size:50px;
      
        text-align: center;
    }
    .head_info > .box2{
    font-size:30px;
    line-height: 60px;
    }
    
    .head_info > .box2 > select{
   border:1px solid black;
   font-size:20px;
    background-color: white;
    width:80px;
    height: 40px;
    left:15px;
    top:-5px;
    }
    #area2{
        margin-left: 7px;
    }

    .head_info > .box2 > input{
        border:1px solid black;
   font-size:20px;
    background-color: white;
    width:354px;
    height: 40px;
    left:23px;
    top:-5px;
    }
    .head_info {
    font-size:30px;
    line-height: 60px;

    }
    .head_info > .box3 > input{
        border:1px solid black;
   font-size:20px;
    background-color: white;
    width:450px;
    height: 40px;
    left:90px;
    top:-5px;
    }
    .head_info > .box4 > input{
        border:1px solid black;
   font-size:20px;
    background-color: white;
    width:450px;
    height: 40px;
    left:66px;
    top:-5px;
    }
    .head_info > .box5 > input{
        border:1px solid black;
   font-size:20px;
    background-color: white;
    width:450px;
    height: 40px;
    left:48px;
    top:-5px;
    }
    .head_info > .box6 > input{
        border:1px solid black;
   font-size:20px;
    background-color: white;
    width:220px;
    height: 40px;
    left:82px;
    top:-5px;
    }
    
    .head_info > .box6 > select{
        border:1px solid black;
   font-size:20px;
    background-color: white;
    width:130px;
    height: 40px;
    left:74px;
    
    top:-5px;
    }
    
 .box6 span{
 	left:83px;
 
 }
   
    .pic1_pic2{
      height:450px;
      width:1305px;
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
     
    }
    .pic1_pic2 > div{
      width:100%;
    background-color: #f3f3f3;
      
    }
    .pic1{

display:grid;
grid-template-rows: 10% 80% 10%;
}

.pic1> div{
 width:100%;
 
}
   
.pic_top{
    line-height: 0px;
        font-size:25px;
    border-bottom: 1px solid black;
    }
    .pic_top input{
   display:none;
    }

    #top_myPC{
        display: inline-block;
        box-sizing:border-box;
        height:37px;
        width:100px;
        text-align:center;
       line-height:40px;
        border: 1px solid orange;
        box-shadow: 3px 3px  gray;
      
        left:456px;
      top:1px;
        font-size:20px;

    }


    #top_myPC:hover{
        background-color:orange;
        color:white;
    }

    .pic_middle1{
     	background-size: contain !important;
	    background-repeat: no-repeat !important;
	    background-position-x: center !important;
        background-image: url("pic/accomodation/oceansweetbed.jpg");
      
    }
    .pic_middle2{
    	background-size: contain !important;
	    background-repeat: no-repeat !important;
	    background-position-x: center !important;
        background-image: url("pic/accomodation/oceansweetbed2.gif");
    }

    .pic_bottom{
        border-top:1px solid black;
        line-height: 38px;
        font-size:25px;
    }
    


    
    .bottom_Del{
        
        border:1px solid black;
		position:absolute;    

        display: inline-block;
        box-sizing:border-box;
        height:37px;
        width:100px;
        text-align:center;
       line-height:40px;
        border: 1px solid orange;
        box-shadow: 3px 3px  gray;
      
        left:540px !important;
      top:1px;
        font-size:20px;

    }
    .bottom_Del> a{
    text-decoration:none;
    color:black;
    }
    .bottom_Del:hover{
        background-color:orange;
        color:white;
    }


    .pic_explain{
        text-align: center;
        line-height:220px;
        font-size:30px;
    }
    .pic_info{
        width:1305px;
    
      display: grid;
      grid-template-rows: 8% 92%;
    }
    .pic_info> div{
      width: 1305px;
      border:1px solid black;
    
    }
    .text textarea{
        font-size:30px;
        width:1305px;
        height:450px;
        background:#f3f3f3;
    }
    .pic_title{
        border: 1px solid black;
    }
     .pic_title> div{
     border:1px solid black;
     box-shadow: 3px 3px 1px black;
     margin-top: 10px;
     font-size:30px;
     text-decoration: none;
      color:black;
      display:block;
      border:1px solid black;
      padding:10px;
      width:150px;
      text-align: center;
      font-size: 40px;
      background-color: orange;
    }    

     #select_pic2{
        background-color: white;
        width:50px;
        height:35px;
        right:-550px;
        top:-74px;
        width:100px;
        line-height: 1px;
    }
    #select_pic2:hover{
        background-color:orange;
    color:black
    }
    .select_pic input{
        left:-50000px;
    }
    
    .pic_detail{
        background:#f3f3f3;
        display:grid;
        grid-template-columns: 48% 48%;
        align-items:stretch;
        justify-items: stretch;
        grid-column-gap: 20px;
    }
    .detail_thumbnail{
        background:#f3f3f3;
        margin-top:30px;
       margin-left:30px;
        width:96%;
        height:450px;
        border: 1px solid black;
        display:grid;
       grid-template-rows: 85% 15%;
    }
    .detail_thumbnail > div {
        width:100%;
        
        border:1px solid black;
    }
    .thumbnail_pic1{
    background-image: url("pic/accomodation/oceansweet_thumb1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
    }
    .thumbnail_pic2{
        background-image: url("pic/accomodation/oceansweet_thumb2.jpg");
   background-size: cover;
   background-repeat: no-repeat;
    }
    .thumbnail_pic3{
        background-image: url("pic/accomodation/oceansweet_thumb3.jpg");
   background-size: cover;
   background-repeat: no-repeat;
    }
    .thumbnail_pic4{
        background-image: url("pic/accomodation/oceansweet_thumb4.jpg");
   background-size: cover;
   background-repeat: no-repeat;
    }
    .thumbnail_pic_info{
        display:grid;
        grid-template-columns: 80% 20%;
    }

    .thumbnail_pic_info> div{
        border:1px solid black;
        width: 100%;
    }
    .thumbnail_pic_info> .box1{
        font-size:20px;
        line-height: 60px;
    }
    .thumbnail_pic_info a{
    border:1px solid black;
    box-shadow: 5px 5px 1px black;
    padding:7px;
    text-decoration: none;
    color:black;
    font-size:20px;
    left:30px;
    top:22px;
    }
    .thumbnail_pic_info  a:hover{
        background-color: orange;
    }
    
    #complete_button{
        text-decoration: none;
        margin-top:20px;
    }

    #complete_button button{
        font-size:40px;
        background-color: white;
        display: inline-block;
        box-sizing:border-box;
        height:55px;
        width:140px;
        text-align:center;
       line-height:40px;
        border: 1px solid orange;
        box-shadow: 3px 3px  gray;
      
        left:600px;
        top:1px;
       

    }


    #complete_button button:hover{
        background-color:orange;
        color:white;
    }